
.tropical{
  color: #7dc410;
    font-family:fantasy;
}
h3.tropical{
  color:#f7325e;
    font-family:fantasy;
}
.popular{
  color:blue;
  font-family: fantasy;
}
h1.introduction{
  color: red;
  font-family: serif;
}
h2.introduction{
  color: maroon;
  font-style: italic;
}
h3.introduction{
  color: blue;
  font-style: oblique;
  background-color: black;
}
p.introduction{
  font-weight: lighter;
  font-style: oblique;
}
img.introduction{
    width: 40%;
    height: 25%;
}
.line1{
  color:red;
}
#line2{
  color:red;
}
